html, body {
  margin: 0;
  padding: 0;
  background-color: #1f4b93;
}

section {
  text-align: center;
  padding: 80px 0px;
}
section .section-heading {
  font-size: 36px;
  margin-top: 0px;
  color: #E55A54;
}
section .section-subheading {
  font-size: 16px;
}

img {
  cursor: pointer;
}

.col-sea {
  padding: 90px;
}
.col-sea h3 {
  color: #E55A54;
}
.col-sea img {
  width: 100%;
  border-radius: 50%;
}

